/* style.css */
.new-to-do-page {
    background-color: #f6f0ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .new-to-do-page .container {
    background-color: #f6f0ed;
    height: 832px;
    position: relative;
    width: 526px;
  }
  
  .new-to-do-page .text-wrapper {
    color: #28536b;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    height: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 42px;
  }
  
  .new-to-do-page .input-box {
    position: absolute;
    width: 411px;
  }
  
  .new-to-do-page .notes-entry,
  .new-to-do-page .description,
  .new-to-do-page .month,
  .new-to-do-page .day,
  .new-to-do-page .year {
    height: 217px;
    left: 39px;
    position: absolute;
    width: 411px;
  }
  
  .new-to-do-page .rectangle,
  .new-to-do-page .to-do-entry {
    background-color: #ffffff;
    height: 170px;
    left: 12px;
    position: absolute;
    width: 397px;
  }
  
  .new-to-do-page .date {
    height: 86px;
    left: 39px;
    position: absolute;
    top: 249px;
    width: 411px;
  }
  
  .new-to-do-page .frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 50px;
    left: 12px;
    position: absolute;
    top: 51px;
  }
  
  .new-to-do-page .submit-button,
  .new-to-do-page .cancel-button {
    all: unset;
    box-sizing: border-box;
    height: 46px;
    position: absolute;
    width: 243px;
  }
  
  .new-to-do-page .overlap {
    background-color: #28536b;
    border-radius: 20px;
    height: 46px;
    position: relative;
    width: 241px;
  }
  
  .new-to-do-page .overlap .text-wrapper {
    color: #f6f0ed;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
  }
  
  .new-to-do-page .cancel-button {
    top: 691px;
    background-color: #7ea8be;
  }
  