.new-to-do-page {
    background-color: #f6f0ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .new-to-do-page .div {
    background-color: #f6f0ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .new-to-do-page .text-wrapper,
  .new-to-do-page .notes-entry .text-wrapper-2,
  .new-to-do-page .description .text-wrapper-3,
  .new-to-do-page .date .text-wrapper-3,
  .new-to-do-page .frame .month .overlap-group .text-wrapper-4,
  .new-to-do-page .frame .day .overlap .text-wrapper-5,
  .new-to-do-page .frame .year .div-wrapper .text-wrapper-6,
  .new-to-do-page .add-button .overlap-2 .text-wrapper-7,
  .new-to-do-page .cancel-button .overlap-3 .text-wrapper-8 {
    color: #28536b;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .new-to-do-page input {
    color: #28536b;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #28536b;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .new-to-do-page .notes-entry .rectangle,
  .new-to-do-page .description .to-do-entry,
  .new-to-do-page .date .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .new-to-do-page .frame {
    display: flex;
  }
  
  .new-to-do-page .month,
  .new-to-do-page .day,
  .new-to-do-page .year {
    margin-right: 20px;
  }
  
  .new-to-do-page .overlap-group,
  .new-to-do-page .overlap,
  .new-to-do-page .div-wrapper {
    background-color: #ffffff;
    height: 35px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #28536b;
    border-radius: 5px;
  }
  
  .new-to-do-page .add-button,
  .new-to-do-page .cancel-button {
    height: 46px;
    width: 100%;
    margin-top: 20px;
  }
  
  .new-to-do-page .overlap-2,
  .new-to-do-page .overlap-3 {
    background-color: #28536b;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .new-to-do-page .text-wrapper-7,
  .new-to-do-page .text-wrapper-8 {
    color: #f6f0ed;
    font-size: 16px;
    text-align: center;
  }
  
  .new-to-do-page .text-wrapper-7 {
    margin-left: auto;
  }
  
  .new-to-do-page .text-wrapper-8 {
    margin-left: auto;
  }
  