.log-in-page {
    background-color: #f6f0ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.log-in-page .div {
    background-color: #f6f0ed;
    height: 832px;
    position: relative;
    width: 1280px;
}

.log-in-page .text-wrapper {
    color: #28536b;
    /* font-family: "DM Serif Display-Regular", Helvetica; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 600;
    height: 66px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 260px;
    /* position: absolute; */
    text-align: center;
    top: 241px;
}

.log-in-page .email-box {
    height: 46px;
    left: 519px;
    position: absolute;
    top: 338px;
    width: 243px;
}

.log-in-page .overlap-group {
    background-color: #ffffff;
    border-radius: 20px;
    height: 46px;
    position: relative;
    width: 241px;
    padding-left: 10px;
    text-indent: 10px;
}

.log-in-page .text-wrapper-2 {
    color: #717171;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
}

.log-in-page .pw-box {
    height: 46px;
    left: 519px;
    position: absolute;
    top: 394px;
    width: 243px;
}

.log-in-page .text-wrapper-3 {
    color: #717171;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 19px;
    left: 605px;
    letter-spacing: 0;
    line-height: normal;
    /* position: absolute; */
    text-align: center;
    margin-top: 250px;
    top: 567px;
}

.log-in-page .log-in-button {
    height: 46px;
    left: 519px;
    position: absolute;
    top: 460px;
    width: 243px;
}

.log-in-page .overlap {
    background-color: #28536b;
    border-radius: 20px;
    height: 46px;
    position: relative;
    width: 241px;
}

.log-in-page .text-wrapper-4 {
    color: #ffffff;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
}

.log-in-page .sign-up-button {
    all: unset;
    box-sizing: border-box;
    height: 46px;
    left: 519px;
    position: absolute;
    top: 514px;
    width: 243px;
}

.log-in-page .div-wrapper {
    background-color: #7ea8be;
    border-radius: 20px;
    height: 46px;
    position: relative;
    width: 241px;
}

.log-in-page .text-wrapper-5 {
    color: #f6f0ed;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
}
